.coffee-main {
  max-width: 1000px;
  background-image: url(/img/ardalan-hamedani-QAskBOimPwM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 70%;
  height: 100vh;
}
/*--Styling Navigation--*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: rgba(185, 120, 34, 0.671);
  padding: 0 25px;
  font-size: 30px;
  margin: 25px 0;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 40px;
  padding: 0 20px;
}

.nav-menu a {
  color: rgba(185, 120, 34, 0.671);
  text-decoration: none;
  transition: all 0.7s ease-in-out;
}

.nav-menu a:hover {
  color: aquamarine;
}

/*---Styling section--*/
.main {
  position: absolute;
  top: 240px;
  left: 30px;
  padding: 0 30px;
}

.magic {
  /*position: absolute;
  top: 10px;
  left: 380px;*/
  font-size: 2rem;
  color: rgb(15, 124, 15);
}

.p-text {
  /*position: relative;
  top: 70px;
  left: 0;*/
  font-size: 1.5rem;
  color: whitesmoke;
}

.code {
  font-style: oblique;
  color: rgba(11, 160, 73, 0.993);
}
.order {
  /*position: relative;
  top: 100px;
  left: 20px;*/
}
.copy {
  position: absolute;
  bottom: 10px;
  right: 500px;
  color: rgb(129, 76, 6);
}
