/*---Universal Styling---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", serif;
}

/*--Styling Div-Conitainer--*/
.coffee-main {
  background-image: url(img/ardalan-hamedani-QAskBOimPwM-unsplash.jpg);
  opacity: 50;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: auto;
  position: relative;
}

/*--Styling Navbar--*/
.navbar {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: blue;*/
  opacity: 0.5;
}

.nav-menu {
  padding-right: 80px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.logo {
  color: rgba(185, 120, 34, 0.671);
  font-size: 30px;
  font-weight: bold;
  margin-left: 35px;
}

.nav-menu a {
  color: rgb(255, 158, 30);
  text-decoration: none;
  transition: all 0.7s ease-in-out;
}

.nav-menu a:hover {
  color: aquamarine;
}

/*--Styling Section& Footer--*/
.main {
  position: absolute;
  top: 240px;
  left: 30px;
  max-width: 50%;
}

.magic {
  font-size: 2rem;
  color: rgb(15, 124, 15);
  margin-bottom: 35px;
}

.code {
  font-style: oblique;
  color: rgba(11, 160, 73, 0.993);
}

.p-text {
  font-size: 1.5rem;
  color: whitesmoke;
  line-height: 30px;
  margin-bottom: 20px;
}

.order {
  padding: 10px 45px;
  background-color: rgb(10, 204, 10);
  color: whitesmoke;
  max-width: 10px 0;
}

.footer {
  position: absolute;
  top: 95%;
  left: 60%;
  transform: translate(-95%, -50%);
}
.copy {
  color: rgb(129, 76, 6);
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.1em;
}
