/*---Universal Styling---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", serif;
}

/*--Styling Div-Conitainer--*/
.coffee-main {
  background-image: url(img/ardalan-hamedani-QAskBOimPwM-unsplash.jpg);
  opacity: 50;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: auto;
  position: relative;
}

/*--Styling Navbar--*/
.navbar {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: blue;*/
  opacity: 0.5;
}

.nav-menu {
  padding-right: 80px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.logo {
  color: rgba(185, 120, 34, 0.671);
  font-size: 30px;
  font-weight: bold;
  margin-left: 35px;
}

.nav-menu a {
  color: rgb(255, 158, 30);
  text-decoration: none;
  transition: all 0.7s ease-in-out;
}

.nav-menu a:hover {
  color: aquamarine;
}

/*--Styling Section& Footer--*/
.main {
  position: absolute;
  top: 240px;
  left: 30px;
  max-width: 50%;
}

.magic {
  font-size: 2rem;
  color: rgb(15, 124, 15);
  margin-bottom: 35px;
}

.code {
  font-style: oblique;
  color: rgba(11, 160, 73, 0.993);
}

.p-text {
  font-size: 1.5rem;
  color: whitesmoke;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 400;
}

.order {
  padding: 10px 45px;
  background-color: rgb(10, 204, 10);
  color: whitesmoke;
  max-width: 10px 0;
  border-radius: 15px;
}

.footer {
  position: absolute;
  top: 95%;
  left: 60%;
  transform: translate(-95%, -50%);
}
.copy {
  color: rgb(129, 76, 6);
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.1em;
}

/*About Page*/
.general {
  background-color: rgba(22, 26, 29, 0.89);

  width: auto;
  height: auto;
  margin: auto;
  padding: 10px 30px;
}

.about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
}

.about-us p {
  color: whitesmoke;
  margin: 40px 0;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 500;
}

.about-us photo {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
}

.top {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 24px;
  margin-right: 20px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  width: 100%;
}

.number,
.text {
  font-size: 24px;
  color: #d3670f2c;
  font-weight: 500;
}

.icon {
  height: 24px;
  width: 24px;
  stroke: #d3670f;
  font-weight: 500;
}

.hidden {
  grid-column: 2;
  display: none;
}
.hidden p {
  line-height: 1.5;
  margin-bottom: 30px;
  color: whitesmoke;
}

.hidden ul {
  color: rgba(245, 245, 245, 0.623);
  margin-left: 20px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
/*Open State*/

.open {
  border-top: 4px solid #d3670f;
}

.open .hidden {
  display: block;
}

.open .number,
.open .text {
  color: #d3670f;
}

.footer-1 {
  text-align: center;
  margin-top: 30px;
}

.footer-1 .copy-A {
  color: #d3670f;
  font-size: 1rem;
  font-weight: 700;
}

/* Styling the carousel*/

.carousel {
  margin: 50px 0;
  background-color: #5e2c04;
  padding: 32px;
  width: 100%;
  border-radius: 8px;
  color: whitesmoke;

  display: flex;
  align-items: center;
  gap: 86px;
  padding-left: 80px;
  position: relative;
}

.img {
  border-radius: 8px;
  transform: scale(1.4);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.23);
}

.testimonal-text {
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 32px;
}

.author {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}

.role {
  font-size: 12px;
  font-weight: 400;
}

.btns {
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: absolute;

  /* This is to center the chevron*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--left {
  left: 0;
  top: 45%;
  transform: translate(-45%, -45%);
}

.btn--right {
  right: 0;
  top: 45%;
  transform: translate(45%, -45%);
}

.btn-icons {
  height: 24px;
  width: 24px;
}
